@page "{id}"
@model XUCore.Template.Razor2.Web.Pages.Admin.Sys.Admin.Notices.UpdateModel

@{
    ViewData["Title"] = "修改公告";
    ViewData["OnlyCode"] = "sys";
    ViewData["SubOnlyCode"] = "sys-notice";
    Layout = "~/Pages/Admin/Shared/_LayoutAdminDetail.cshtml";
}
@section Scripts{
<script src="~/lib/tinymce/tinymce.min.js"></script>
<script src="~/lib/tinymce/langs/zh_CN.js"></script>
<script src="~/lib/tinymce/tinymce.init.js"></script>
<script type="text/javascript">

    $(function () {

        tinymceInit('#NoticeDto_Contents');

        $('#data-form').parsleyForm({
            submit: function (formData) {
                var id = @Model.NoticeDto.Id;
                formData['NoticeDto.Id'] = id;
                formData['NoticeDto.Contents'] = tinymce.get('NoticeDto_Contents').getContent();
                $.ajax({
                    url: '?handler=NoticeByUpdateRow',
                    type: "PUT",
                    data: formData,
                    success: function (result) {
                        if (result.Code == 0) {
                            show.successConfirm('操作提示', result.Message, {
                                confirm: { text: '确认', style: 'success' },
                                back: {
                                    text: '返回列表', style: 'default', action: function () {
                                        window.location = '/admin/sys/admin/notices/list';
                                    }
                                },
                            });
                        } else {
                            show.error('操作提示', result.Message);
                        }
                    }
                });
            }
        });
    });
</script>
}

<ul class="breadcrumb m-t">
    <li><a href="/admin"><i class="fa fa-home"></i> 首页</a></li>
    <li><a href="/admin/sys/admin/notices/list"><i class="fa fa-list-ul"></i> 公告列表</a></li>
    <li class="active">修改公告</li>
</ul>
<form id="data-form" class="form-horizontal m-t text-sm" data-parsley-validate="true">
    <section class="panel panel-default">
        <header class="panel-heading">
            <strong>修改公告</strong>
        </header>
        <div class="panel-body">
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.NoticeDto.Title, "公告标题", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(c => c.NoticeDto.Title, null, new { @class = "form-control input-sm", @data_parsley_maxlength = "50", @data_parsley_trigger = "change", @data_parsley_required = "true" })
                    <div class="error"></div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.NoticeDto.LevelId, "公告等级", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-2">
                    @Html.DropDownListFor(c => c.NoticeDto.LevelId, Model.NoticeLevelSelectItems, "", new { @class = "chosen-select", @style = "width:100%;", @data_parsley_required = "true" })
                    <div class="error"></div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.NoticeDto.Contents, "公告内容", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(c => c.NoticeDto.Contents)
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.NoticeDto.Weight, "数据权重", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-2">
                    @Html.TextBoxFor(c => c.NoticeDto.Weight, null, new { @type = "number", @class = "form-control input-sm", @data_parsley_min = "0", @data_parsley_max = "1000", @placeholder = "数字越大越靠前" })
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.NoticeDto.Status, "数据状态", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-10">
                    @foreach (var item in XUCore.Helpers.Enum.GetDictionary<Status>(0))
                    {
                        <div class="radio i-checks inline">
                            <label>
                                @Html.RadioButtonFor(c => c.NoticeDto.Status, (Status)item.Key);
                                <i></i>
                                @item.Value
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    <a href="/admin/sys/admin/notices/list" class="btn btn-default">返回列表</a>
                    <button type="submit" class="btn btn-primary m-l">保存数据</button>
                </div>
            </div>
        </div>
    </section>
</form>

