@page
@model XUCore.Template.Razor.Web.Pages.Admin.Sys.Admin.InfoModel

@{
    Layout = "~/Pages/Admin/Shared/_LayoutAdminiFrame.cshtml";
}
@section Scripts{
<script src="~/lib/charts/easypiechart/jquery.easy-pie-chart.js"></script>
<script type="text/javascript">
    $(function () {
        $('#editorPicture').bindUpload({
            data: 'cutorgin=true&autocutsize=600&thumbs=300x300',
            success: function (res) {
                $.ajax({
                    url: '?handler=UserUpdatePicture',
                    type: "PUT",
                    data: { Picture: res.Data.Thumbs["300x300"] },
                    success: function (result) {
                        if (result.Code == 0) {
                            $('.thumb-lg img').attr('src', res.Data.Root + res.Data.Thumbs["300x300"]);
                        } else {
                            show.error('上传错误', result.Message);
                        }
                    }
                });
            }
        });

        $('#password-form').parsleyForm({
            submit: function (formData) {
                var $oldpass = $('#txtOldPass');
                var $newpass = $('#txtNewPass');
                var $rePass = $('#txtRePass');
                $.ajax({
                    url: '?handler=UserUpdatePassword',
                    type: "PUT",
                    data: { newpassword: $newpass.val(), oldpassword: $oldpass.val() },
                    success: function (result) {
                        if (result.Code == 0) {
                            show.success('修改成功', '下次登录请使用新密码')
                            $newpass.val('');
                            $rePass.val('');
                            $oldpass.val('');
                        } else {
                            show.error('操作提示', result.Message);
                        }
                    }
                });
            }
        });

        $('#info-form').parsleyForm({
            submit: function (formData) {
                $.ajax({
                    url: '?handler=UserUpdateInfo',
                    type: "PUT",
                    data: formData,
                    success: function (result) {
                        if (result.Code == 0) {
                            show.success('操作提示', '修改成功')
                        } else {
                            show.error('操作提示', result.Message);
                        }
                    }
                });
            }
        });
    });
</script>
}
<div class="row m-t">
    <div class="col-sm-4">
        <section class="panel panel-default text-sm">
            <header class="panel-heading font-bold">修改头像</header>
            <div class="panel-body">
                <div class="clearfix text-center">
                    <div class="inline">
                        <div class="easypiechart easyPieChart" data-percent="75" data-line-width="5"
                            data-bar-color="#4cc0c1" data-track-color="#f5f5f5" data-scale-color="false" data-size="134"
                            data-line-cap="butt" data-animate="1000"
                            style="width: 134px; height: 134px; line-height: 134px;">
                            <div class="thumb-lg">
                                <img src="@Utils.Face(GlobalStatic.RootUrl,Model.UserDto.Picture, 1)" class="img-circle"
                                    alt="...">
                            </div>
                            <canvas></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="panel-footer text-center">
                <a href="javascript:;" id="editorPicture" class="btn btn-primary">修改头像</a>
            </footer>
        </section>
    </div>
    <div class="col-sm-4">
        <section class="panel panel-default text-sm">
            <header class="panel-heading font-bold">修改信息</header>
            <form id="info-form" class="form-horizontal" data-parsley-validate="true">
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(c => c.UserDto.Name, "姓名", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => c.UserDto.Name, null, new { @class = "form-control input-sm",
                            @data_parsley_maxlength = "30", @data_parsley_trigger = "change", @data_parsley_required =
                            "true" })
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-sm pull-in"></div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.UserDto.Location, "所在地", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => c.UserDto.Location, null, new { @class = "form-control input-sm",
                            @data_parsley_maxlength = "30", @data_parsley_trigger = "change", @data_parsley_required =
                            "true" })
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-sm pull-in"></div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.UserDto.Position, "职位", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => c.UserDto.Position, null, new { @class = "form-control input-sm",
                            @data_parsley_maxlength = "30", @data_parsley_trigger = "change", @data_parsley_required =
                            "true" })
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-sm pull-in"></div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.UserDto.Company, "公司", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(c => c.UserDto.Company, null, new { @class = "form-control input-sm",
                            @data_parsley_maxlength = "30", @data_parsley_trigger = "change", @data_parsley_required =
                            "true" })
                            <div class="error"></div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer text-center">
                    <button type="submit" class="btn btn-primary">修改信息</button>
                </footer>
            </form>
        </section>
    </div>
    <div class="col-sm-4">
        <section class="panel panel-default text-sm">
            <header class="panel-heading font-bold">修改密码</header>
            <form id="password-form" class="form-horizontal" data-parsley-validate="true">
                <div class="panel-body">
                    <div class="form-group m-b-none">
                        <label class="col-sm-3 control-label">旧密码</label>
                        <div class="col-sm-9">
                            <input id="txtOldPass" class="form-control input-sm" type="password" placeholder="请输入旧密码"
                                data-parsley-trigger="change" data-parsley-required="true" />
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-sm pull-in"></div>
                    <div class="form-group m-b-none">
                        <label class="col-sm-3 control-label">新密码</label>
                        <div class="col-sm-9">
                            <input id="txtNewPass" class="form-control input-sm" type="password" placeholder="请输入新密码"
                                data-parsley-trigger="change" data-parsley-required="true" />
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-sm pull-in"></div>
                    <div class="form-group m-b-none">
                        <label class="col-sm-3 control-label">确认密码</label>
                        <div class="col-sm-9">
                            <input id="txtRePass" class="form-control input-sm" type="password" placeholder="请再次输入新密码"
                                data-parsley-equalto="#txtNewPass" data-parsley-trigger="change"
                                data-parsley-required="true" />
                        </div>
                    </div>
                </div>
                <footer class="panel-footer text-center">
                    <button type="submit" class="btn btn-primary">修改密码</button>
                </footer>
            </form>
        </section>
    </div>
</div>