@page "{id}"
@model Nigel.Web.Pages.Admin.Sys.Admin.Notices.DetailModel

@{
    ViewData["Title"] = Model.Notice.Title;
    Layout = "~/Pages/Admin/Shared/_LayoutAdminiFrame.cshtml";
}
@section Scripts{
    <link href="~/lib/tinymce/prism.css" rel="stylesheet" />
    <script src="~/lib/tinymce/prism.js"></script>
    <script type="text/javascript">
        $(function () {
            $('pre').addClass("line-numbers").css("white-space", "pre-wrap");
        });
    </script>
}

<section class="vbox">
    <section class="hbox stretch">
        <section id="content">
            <section class="vbox">
                <section class="scrollable padder">
                    <div class="row m-t-lg m-b-lg">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="blog-post text-black">
                                <div class="post-item">
                                    <div class="caption wrapper-lg">
                                        <h2 class="post-title text-lg">
                                            <span class="@Model.Notice.LevelCss">【@Model.Notice.LevelName】</span>@Model.Notice.Title
                                        </h2>
                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                        <div class="post-sum">
                                            @Html.Raw(Model.Notice.Contents)
                                        </div>
                                        <div class="line line-dashed b-b line-sm pull-in"></div>
                                        <div class="text-muted">
                                            <i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">@Model.Notice.AdminName</a>
                                            <i class="fa fa-clock-o icon-muted"></i> @XUCore.Timing.DateTimeHelper.DateStringFromNow(Model.Notice.Created_At, false, "${time}前")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </section>
            </section>
        </section>
    </section>
</section>