@page
@model XUCore.Template.Razor.Web.Pages.Admin.Articles.AddModel

@{
    Layout = "~/Pages/Admin/Shared/_LayoutAdminiFrame.cshtml";
}
@section Scripts{
<script src="~/lib/tinymce/tinymce.min.js"></script>
<script src="~/lib/tinymce/langs/zh_CN.js"></script>
<script src="~/lib/tinymce/tinymce.init.js"></script>
<script type="text/javascript">

    $(function () {

        $('#btnPicture').bindUpload({
            data: 'cutorgin=true&autocutsize=600',
            success: function (res) {
                $('#ArticleDto_Picture').val(res.Data.Url);
                $('#pictureView').show().val(res.Data.RootUrl);
            }
        });

        tinymceInit('#ArticleDto_Contents');

        $('#data-form').parsleyForm({
            submit: function (formData) {

                formData['ArticleDto.Contents'] = tinymce.get('ArticleDto_Contents').getContent();

                $.ajax({
                    url: '?handler=ArticleByAdd',
                    type: "POST",
                    data: formData,
                    success: function (result) {
                        if (result.Code == 0) {
                            show.successConfirm('操作提示', result.Message, {
                                confirm: { text: '好的', style: 'success' },
                                back: {
                                    text: '关闭页面', style: 'default', action: function () {
                                        window.parent.closeTab('article-add');
                                    }
                                },
                            });
                        } else {
                            show.error('操作提示', result.Message);
                        }
                    }
                });
            }
        });

        $('#categoryModel').on('hide.bs.modal', function () {
            $.ajax({
                url: '?handler=CategoryList',
                type: "GET",
                success: function (result) {
                    if (result.Code == 0) {
                        var obj = $("#ArticleDto_CategoryId");
                        obj.get(0).length = 0;
                        for (var ndx = 0; ndx < result.Data.length; ndx++) {
                            var item = result.Data[ndx];
                            obj.append('<option value="' + item.Item1 + '">' + item.Item2 + '</option>');
                        }
                        obj.trigger("chosen:updated");
                    } else {
                        show.error('操作提示', result.Message);
                    }
                }
            });
        });

        $('#tagModel').on('hide.bs.modal', function () {
            $.ajax({
                url: '?handler=TagList',
                type: "GET",
                success: function (result) {
                    if (result.Code == 0) {
                        var obj = $("#ArticleDto_TagIds");
                        obj.get(0).length = 0;
                        for (var ndx = 0; ndx < result.Data.length; ndx++) {
                            var item = result.Data[ndx];
                            obj.append('<option value="' + item.Item1 + '">' + item.Item2 + '</option>');
                        }
                        obj.trigger("chosen:updated");
                    } else {
                        show.error('操作提示', result.Message);
                    }
                }
            });
        });
    });
</script>
}

@Html.AntiForgeryToken()
<form id="data-form" class="form-horizontal m-t text-sm" data-parsley-validate="true">
    <section class="panel panel-default">
        <header class="panel-heading">
            <strong>发布文章</strong>
        </header>
        <div class="panel-body">
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.ArticleDto.Title, "文章标题", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(c => c.ArticleDto.Title, null, new { @class = "form-control input-sm", @data_parsley_maxlength = "100", @data_parsley_trigger = "change", @data_parsley_required = "true" })
                    <div class="error"></div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.ArticleDto.CategoryId, "文章目录", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-3">
                    @Html.DropDownListFor(c => c.ArticleDto.CategoryId, Model.CategorySelectItems, "", new { @class = "chosen-select", @style = "width:100%;", @data_parsley_required = "true" })
                    <div class="error"></div>
                </div>
                <div class="col-sm-1">
                    <a data-toggle="modal" data-target="#categoryModel" class="btn btn-sm btn-default"><i class="fa fa-upload m-r-xs"></i>目录管理</a>
                    </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.ArticleDto.TagIds, "文章标签", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-3">
                    @Html.DropDownListFor(c => c.ArticleDto.TagIds, Model.TagSelectItems, "", new { @class = "chosen-select", @multiple = "true", @style = "width:100%;" })
                </div>
                <div class="col-sm-1">
                    <a data-toggle="modal" data-target="#tagModel" class="btn btn-sm btn-default"><i class="fa fa-upload m-r-xs"></i>标签管理</a>
                    </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.ArticleDto.Picture, "文章图片", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        @Html.TextBoxFor(c => c.ArticleDto.Picture, null, new { @class = "form-control", @data_parsley_maxlength = "100" })
                        <span class="input-group-btn">
                            <img class="thumb-preview @(string.IsNullOrEmpty(Model.ArticleDto.Picture)?"hide":"")" src="@(GlobalStatic.RootUrl+Model.ArticleDto.Picture)" id="pictureView" />
                            <button id="btnPicture" class="btn btn-default" type="button"><i class="fa fa-upload m-r-xs"></i>上传</button>
                            <a data-toggle="modal" data-target="#upload-cut-modal" class="btn btn-default"><i class="fa fa-upload m-r-xs"></i>上传裁剪</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.ArticleDto.Contents, "文章内容", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-10">
                    <div id="Contents">
                        @Html.TextAreaFor(c => c.ArticleDto.Contents)
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.ArticleDto.Weight, "数据权重", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-2">
                    @Html.TextBoxFor(c => c.ArticleDto.Weight, null, new { @type = "number", @class = "form-control input-sm", @data_parsley_min = "0", @data_parsley_max = "1000", @placeholder = "数字越大越靠前" })
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.ArticleDto.Status, "数据状态", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-2">
                    @foreach (var item in XUCore.Helpers.Enum.GetDictionary<Status>(0))
                    {
                        <div class="radio i-checks inline">
                            <label>
                                @Html.RadioButtonFor(c => c.ArticleDto.Status, (Status)item.Key);
                                <i></i>
                                @item.Value
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-9">
                    <a href="#" onclick="window.parent.closeTab('article-add')" class="btn btn-default">关闭页面</a>
                    <button type="submit" class="btn btn-primary m-l">保存数据</button>
                </div>
            </div>
        </div>
    </section>
</form>

@await Html.PartialAsync("_UploadCutModal.cshtml", "ArticleDto_Picture")

<div class="modal fade" id="categoryModel">
    <div class="modal-dialog" style="width: 90%;">
        <form id="category-form" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"><i class="fa fa-bullhorn"></i>&nbsp;目录管理</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/admin/articles/category/list" frameborder="0" style="height:500px;width:100%"></iframe>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="tagModel">
    <div class="modal-dialog" style="width: 90%;">
        <form id="tag-form" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"><i class="fa fa-bullhorn"></i>&nbsp;标签管理</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/admin/articles/tag/list" frameborder="0" style="height:500px;width:100%"></iframe>
                </div>
            </div>
        </form>
    </div>
</div>