@page
@model Nigel.Web.Pages.Admin.Sys.Admin.Menu.AddModel

@{
    Layout = "~/Pages/Admin/Shared/_LayoutAdminiFrame.cshtml";
}
@section Scripts{
    <script src="~/js/admin/sys/admin/menu/add.js"></script>
}

<form id="data-form" class="form-horizontal m-t text-sm" data-parsley-validate="true">
    <section class="panel panel-default">
        <header class="panel-heading">
            <strong>添加导航</strong>
        </header>
        <div class="panel-body">
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.Menus.FatherId, "父级导航", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @Html.DropDownListFor(c => c.Menus.FatherId, Model.DropDownMenus, "", new { @class = "form-control input-sm", @data_parsley_required = "true" })
                    <div class="error"></div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.Menus.Name, "导航名称", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(c => c.Menus.Name, null, new { @class = "form-control input-sm", @data_parsley_maxlength = "30", @data_parsley_trigger = "change", @data_parsley_required = "true" })
                    <div class="error"></div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.Menus.Icon, "Icon", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        @Html.TextBoxFor(c => c.Menus.Icon, "", new { @class = "form-control input-sm", @data_parsley_maxlength = "50" })
                        <span class="input-group-btn">
                            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-sm"><i class="fa fa-anchor"></i></a>
                            <a href="#" data-color="text-success" class="color btn btn-success btn-sm"> </a>
                            <a href="#" data-color="text-primary" class="color btn btn-primary btn-sm"> </a>
                            <a href="#" data-color="text-danger" class="color btn btn-danger btn-sm"> </a>
                            <a href="#" data-color="text-dark" class="color btn btn-dark btn-sm"> </a>
                            <a href="#" data-color="text-info" class="color btn btn-info btn-sm"> </a>
                            <a href="#" data-color="text-warning" class="color btn btn-warning btn-sm"> </a>
                            <a href="#" data-color="text-default" class="color btn btn-default btn-sm"> </a>
                        </span>
                    </div>
                    <div class="error"></div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.Menus.Url, "Url", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(c => c.Menus.Url, null, new { @class = "form-control input-sm", @data_parsley_maxlength = "50", @data_parsley_trigger = "change", @data_parsley_required = "true" })
                    <div class="error"></div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.Menus.OnlyCode, "OnlyCode", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(c => c.Menus.OnlyCode, null, new { @class = "form-control input-sm", @data_parsley_maxlength = "50", @data_parsley_trigger = "change", @data_parsley_required = "true" })
                    <div class="error"></div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.Menus.IsMenu, "导航", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    <div class="radio i-checks col-sm-4">
                        <label>
                            @Html.RadioButtonFor(model => model.Menus.IsMenu, true, new { @data_parsley_required = "true" })
                            <i></i>
                            是导航
                        </label>
                    </div>
                    <div class="radio i-checks col-sm-4">
                        <label>
                            @Html.RadioButtonFor(model => model.Menus.IsMenu, false, new { @data_parsley_required = "true" })
                            <i></i>
                            不是导航
                        </label>
                    </div>
                    <div class="error"></div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.Menus.IsExpress, "快速导航", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    <div class="checkbox i-checks">
                        <label>
                            @Html.CheckBoxFor(c => c.Menus.IsExpress)
                            <i></i>
                            快速导航
                        </label>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.Menus.Weight, "数据权重", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(c => c.Menus.Weight, null, new { @type = "number", @class = "form-control input-sm", @data_parsley_min = "0", @data_parsley_max = "1000", @placeholder = "数字越大越靠前" })
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                @Html.LabelFor(c => c.Menus.Status, "数据状态", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @foreach (var item in XUCore.Helpers.Enum.GetDictionary<Nigel.Domain.Core.Enums.Status>(0))
                    {
                        <div class="radio i-checks inline">
                            <label>
                                @Html.RadioButtonFor(c => c.Menus.Status, (Nigel.Domain.Core.Enums.Status)item.Key);
                                <i></i>
                                @item.Value
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="line line-dashed b-b line-sm pull-in"></div>
            <div class="form-group m-b-none">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    <a href="#" onclick="window.parent.closeTab('admin-menu-add')" class="btn btn-default">关闭页面</a>
                    <button type="submit" class="btn btn-primary m-l">保存数据</button>
                </div>
            </div>
        </div>
    </section>
</form>

@{
    await Html.RenderPartialAsync("_Icons");
}

