
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

    //ViewData["BodyClass"] = "container";
}

<section class="vbox">
    <header class="bg-primary header header-md navbar navbar-fixed-top-xs navbar-fixed-top">
        <section class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand text-lt">
                    <img src="/images/coffee.png" alt="." />
                    <span class="hidden-nav-xs m-l-sm">搬砖-Veeker</span>
                </a>
                <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
                    <i class="icon-list"></i>
                </a>
            </div>
            <form class="navbar-form navbar-left input-s-lg m-t hidden-xs" action="/blog" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
                        </span>
                        <input type="text" name="k" class="form-control input-sm no-border rounded" placeholder="搜索文章...">
                    </div>
                </div>
            </form>
            <div class="navbar-right">
                <ul class="nav navbar-nav m-n hidden-xs nav-user user">
                    <li class="@( ViewData["Nav"].Equals("Index") ? "active" : "")">
                        <a href="/" class="dropdown-toggle">
                            首页
                        </a>
                    </li>
                    <li class="@( ViewData["Nav"].Equals("List") ? "active" : "" )">
                        <a href="/blog" class="dropdown-toggle">
                            文章
                        </a>
                    </li>
                    <li class="@( ViewData["Nav"].Equals("Category") ? "active" : "" )">
                        <a href="/blog/category" class="dropdown-toggle">
                            目录
                        </a>
                    </li>
                    <li class="@( ViewData["Nav"].Equals("Tags") ? "active" : "")">
                        <a href="/blog/tags" class="dropdown-toggle">
                            标签
                        </a>
                    </li>
                    <li class="@( ViewData["Nav"].Equals("Archive") ? "active" : "")">
                        <a href="/blog/archive" class="dropdown-toggle">
                            归档
                        </a>
                    </li>
                    <li class="@( ViewData["Nav"].Equals("Links") ? "active" : "")">
                        <a href="/link" class="dropdown-toggle">
                            友链
                        </a>
                    </li>
                    <li class="@( ViewData["Nav"].Equals("Contact") ? "active" : "")">
                        <a href="/contact" class="dropdown-toggle">
                            关于
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </header>
    @RenderBody()
    <footer id="footer" class="padder-v bg-light">
        @await Component.InvokeAsync("_Links")
        <div class="text-center m-t-xs clearfix text-dark">
            <small>
                <a class="text-dark m-r-xs" href="/"></a>
                <a class="text-dark m-r-xs" href="/blog">文章列表</a>
                <a class="text-dark m-r-xs" href="/blog/category">文章目录</a>
                <a class="text-dark m-r-xs" href="/blog/archive">文章归档</a>
                <a class="text-dark m-r-xs" href="/blog/tags">文章标签</a>
                <a class="text-dark m-r-xs" href="/link">友情链接</a>
                <a class="text-dark" href="/contact">联系方式</a>
            </small><br />
            <small>搬砖-Veeker © @DateTime.Now.Year · <a href="http://www.beian.miit.gov.cn">京ICP备19010525号</a> · 站长统计</small>
        </div>
    </footer>
</section>

@section Styles{
    @RenderSection("Styles", required: false)
}

@section Scripts{
    @RenderSection("Scripts", required: false)
}
