
<!DOCTYPE html>
<html lang="zh-cn" class="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="欢迎阅览，希望您在这里能得到解决方案" />
    <meta property="og:title" content="搬砖-Veeker · 博客" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="欢迎阅览，希望您在这里能得到解决方案" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font.css" type="text/css" />
    <link rel="stylesheet" href="~/css/app.css" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    @RenderSection("Styles", required: false)
    <!--[if lt IE 9]>
      <script src="~/lib/ie/html5shiv.js"></script>
      <script src="~/lib/ie/respond.min.js"></script>
      <script src="~/lib/ie/excanvas.js"></script>
    <![endif]-->
    <script src="~/lib/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap.js"></script>
    <!-- App -->
    <script src="~/lib/app.js"></script>
    <script src="~/lib/app.plugin.js"></script>
</head>
<body class="@ViewData["BodyClass"]">
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
